# Ignore dataset folders
data/
images/
datasets/
experiments/

# Ignore model files
*.h5
*.hdf5
*.ckpt
*.pth
*.pt
*.tflite

# Ignore notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS / IDE files
.DS_Store
*.log
*.tmp

# VSCode settings (optional)
.vscode/

# Ignore powerpoint and large binaries (optional)
*.pptx
